</div>

<div class="footer"> 
	<div class="footer_stamp" id="footer_stamp">
		{{ page.date }}
	</div>
	 ҉ Nikola Ranchev 2011
</div> 
 
<script type="text/javascript"> 
	(function() {
		 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script> 
 
</body> 
</html> 
